.bslider .bslider-nav-left a, .bslider .bslider-nav-right a {
    background: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.bslider .bslider-nav-right, .bslider .bslider-nav-left {
    cursor: pointer;
    font-size: 40px;
    text-align: center;
}

.bslider .bslider-nav-right:hover, .bslider .bslider-nav-left:hover {
    opacity: 0.65;
}

.bslider-nav-container-left, .bslider-nav-container-right, .bslider-container {
    display: inline-block;
}

.bslider-container {
    padding: 1em;
    vertical-align: middle;
}

.bslider .cross-links {
    text-align: center;
}

.bslider .cross-link {
    display: inline-block;
    padding: 0.5em 1em 0 1em;
    margin-left: 1em;
    margin-right: 0.5em;
}

.bslider .cross-link.unselected {
    border-top: 6px solid #ccc;
}

.bslider .cross-link.selected {
    border-top: 6px solid #84A746;
}

.bslider {
    display: inline-block;
}


/* Demo css */
.test-view {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
}
